.welcome {
    border-radius: 15px;
    display: flex;
    background-color: #A41115;
    width: 211px;
    padding: 7px;
    margin: 0px;
    color: white;
}

.image-people {
    width: 50px;
    height: 40px;
    padding-right: 10px;
}

.head-welcome {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 45px;
}

.menu-home {
    padding-top: 90px;
}

.btn-menu-icon {
    border-radius: 50px;
    background: #F6AAAC !important;
    border-color: #F6AAAC !important;
    color: #ffffff !important;
    height: 100%;
    padding: 14px 18px;
}

.span-menu-icon {
    margin-top: 60px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}

.span-menu-icon2 {
    margin-top: 60px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    margin-left: 93px;
}

.span-menu-icon3 {
    margin-top: 60px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    margin-left: 184px;
}

.span-menu-icon4 {
    margin-top: 60px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    margin-left: 270px;
}

.body-home {
    background: #C7151A;
}

.card-menu-home {
    border-radius: 0px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.card-top-menu {
    border-radius: 40px;
    background: #F3F3F3;
}

.card-top-history {
    border-radius: 22px;
    background: #F3F3F3;
}

.history h2 {
    padding-left: 23px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.desc-history {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 13px;
}

.button-history {
    margin-left: auto;
    order: 2;
}

.desc-bold {
    font-weight: bold;
}

.canvas {
    padding-left: 15px;
    width: 200px;
}

.chart-div {
    display: flex;
    margin-top: 70px;
}

.desc-chart {
    color: white;
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 29px;
}

.desc-chart-2 {
    color: white;
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 10px;
}

.sp-chart {
    font-size: 12px;
}

.desc-canvas {
    margin-left: 5px;
    margin-top: 76px;
}

.image-chart {
    position: absolute;
    margin-top: -113px;
    margin-left: 68px;
    width: 55px;
    height: 55px;
    padding-right: 10px;
}

.content-product {
    padding-left: 30px;
    padding-right: 30px;
}

.product {
    padding-top: 70px;
}

.top-product {
    padding-top: 10px;
}

.top-menu-product {
    padding-left: 30px;
    padding-right: 30px;
}

.image-success {
    width: 80px;
    margin: auto;
    margin-top: 31px;
}

.btn-reset {
    padding-top: 30px;
    float: right;
}

.btn-otp {
    float: right;
}

.resend {
    float: left;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

.cooldown {
    float: right;
    font-size: 10px;
    padding-top: 10px;
}

.reset-user {
    position: absolute;
    color: blue;
    margin-top: 134px;
    font-size: 12px;
    margin-left: -35px;
}

.label-text {
    padding-bottom: 10px;
    font-weight: 500;
}

.center-div {
    padding-left: 93px;
}

.description-flex{
    width: 237px;
}